:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

}
body {
  margin: 0;
  
}


#app {
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

td {
  padding-left: 10px;
}

tr:nth-child(even) {
  background: #ffffff0c;
}