@media (prefers-color-scheme: light) {
  :root {
    --main-color: rgba(50, 50, 50, 0.87);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color: rgba(255, 255, 255, 0.87);
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--main-color)
}

body {
  margin: 0;
}

#app {
  margin: 0 auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

td:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}

tr:nth-child(even) {
  background: #ffffff0c;
}

table {
  width: 100%
}

h3 {
  padding-left: 10px;
  font-size: 1.17em;
  margin-block-end: 0;
  margin-block-start: 0.5em;
}

h3 + table {
  width: calc(100% - 11px);
  margin-left: 10px;
  border-left: 3px solid #8d8d8d;
  padding-left: 5px;
}

.invisible::before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url(./invisible.svg) no-repeat;
  color: blue;
  background-size: 15px 15px;
}

/* Put both the span and select in one line in #config */
#config div {
  /* display: flex;
  align-content: center;
  align-items: center;
  justify-content: center; */
  gap: 5px;
  margin: 10px;
}
#config h2 {
  text-align: center;
}

#config > span {
  display: inline-block;
  font-size: .9em;
}

/* style the select */
#vertical {
  /* width: 100%; */
  height: 100%;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: var(--main-color);
  text-decoration: underline;
  outline: none;
  text-align: center;
  width: auto;
}

#vertical:focus {
  outline: none;
  background-color: rgb(34, 38, 57);
}

.footer {
  text-align: center;
  margin-top: 30px;  
  font-size: 0.9em;
}

#config-button {
  position: absolute;
  top: 6px;
  right: 12px;
  background: none;
  border: none;
  color: var(--main-color);
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}

.target-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  width:85%;
  overflow: hidden;
}

.setting-desc {
  font-size: 0.95em;
  font-style: italic;
}

.settings-name {
  font-size: 1.1em;
  font-weight: 500;
}

.settings-name::after {
  content: ' -';
}

a {
  color: var(--main-color);
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}



/* Set Height Menu */

.set-height {
  margin: 0 10px;
  display: flex;
}

.input-wrapper {
  position: relative;
}

.set-height .input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.set-height #height {
  width: 80px;
  text-align: center;
  background: none;
  color: var(--main-color);
  height:20px;
  border: 1px solid;
  border-color: var(--main-color);
}

/* Always show the up/down buttons on Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}
.set-height #unit {
  font-style: italic;
}
.set-height #reset {
  margin-left: 10px;
}
